.l5r4.npc{
  .editor .editor-content {
    min-height: 400px;
  }
  .top{
    display: flex;
    flex-flow: row;
    width: fit-content;

    .npc-stats{
      display: flex;
      flex-flow: column;
      img{
        height: 1rem;
        width: 1rem;
        border: none;
      }
    }
  }

  .actor-img {
    width: 256px;
    border: none;
    border-radius: 8px;
  }
  input {
    width: 2rem;
  }
  .damage-type {
    width: fit-content;
  }
}