.l5r4.npc{
  .top{
    display: flex;
    flex-flow: row;
    width: fit-content;

    .npc-stats{
      display: flex;
      flex-flow: column;
    }
  }

  .actor-img {
    width: 256px;
    border: none;
    border-radius: 8px;
  }
  input {
    width: 2rem;
  }
  .damage-type {
    width: fit-content;
  }
}