.l5r4.pc{
  .main-stats{
    display: flex;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    color: red;
  }

  .actor-img {
    width: 256px;
  }

  input {
    width: 100%;
  }

  select {
    border: none;
    text-align: center;
  }
}
