.l5r4.pc{
  display: flex;
  flex-direction: column;

  .misc{
    height: 100%;
  }
  .editor .editor-content {
    min-height: 400px;
  }

  .pc-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .traits-rings{
    display: flex;
    flex-direction: row;
  }

  .ring-img{
    border: none;
  }

  h2{
    display: flex;
    flex-direction: row;

    .item-create {
      margin-left: auto;
    }
  }


}