<div class="item-border {{data.type}}">
  <div class="commonItem-card item" data-item-id="{{_id}}">
    <div class="commonItem-info commonItem-name">
      <h3><a class="item-edit">{{name}}</a></h3>
    </div>
    {{#if inSheet}}
      <div>
        <a class="item-edit"  title="{{localize "l5r4.sheet.edit"}}"><i class="fas fa-edit fa-fw"></i></a>
      </div>
    {{/if}}
  </div>
</div>