<section class="spells panelBorder">
  <h2>
      <div>{{localize "l5r4.sheet.spells"}}</div>
      <a class="item-create" data-type="spell" title="{{localize "l5r4.sheet.addspell"}}">
        <i class="fas fa-plus"></i>
      </a>
    </h2>
  <section class="spells-list">
    {{#each spells as |spell id|}}
    {{> "systems/l5r4/templates/partials/spell-card.hbs" spell inSheet=true}}
    {{/each}}
  </section>
</section>