<section class="weapons panelBorder">
  <h2>
      <div>{{localize "l5r4.sheet.weapons"}}</div>
      <a class="item-create" data-type="weapon" title="{{localize "l5r4.sheet.addWeapon"}}">
        <i class="fas fa-plus"></i>
      </a>
    </h2>
    
  <section class="weapons-list">
    {{#each weapons as |weapon id|}}
    {{> "systems/l5r4/templates/partials/weapon-card.hbs" weapon ranged=false}}
    {{/each}}
    
    {{#each bows as |weapon id|}}
    {{> "systems/l5r4/templates/partials/weapon-card.hbs" weapon ranged=true}}
    {{/each}}
  </section>
</section>