<form>
  <div class="form-group">
    <label> {{localize "l5r4.traits.name"}}</label>
    <input type="text" name="itemName" placeholder="New spell">
  </div>

  <div class="form-group">
    <label>{{localize "l5r4.skill.type"}}</label>
    <select name="itemType">
      <option value="spell" selected="">{{localize "l5r4.sheet.spell"}}</option>
      <option value="technique">{{localize "l5r4.sheet.technique"}}</option>
    </select>
  </div>
</form>