<form class="{{cssClass}} limited" autocomplete="off">
  <h1 class="name">{{actor.name}}</h1>
  <div class="limited-sheet">
    <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
  </div>
</form>