<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <table>
      <th>{{localize "l5r4.mech.init"}}</th>
      <td><input name="data.initiative" type="text" value="{{data.initiative}}" data-type="String" /></td>
    </table>
  </header>
</form>