<from class="{{cssClass}}" autocomplete="off">
  <div class="sidebar">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
  </div>
  <div class="honor-and-combat">
    {{> "systems/l5r4/templates/partials/pc-honor-and-combat.hbs"}}
  </div>
</from>